@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #252525;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 200px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 200px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 200px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #00c70a 0%, #4715bb 179.25%);
}

.progress {
  background: linear-gradient(90deg, #791010 0%, #89be0c 100%);
}

.done {
  background: linear-gradient(90deg, #159745 0%, #47c2ff 100%);
}

.hold {
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.36);
}

.hide {
  display: none;
}


.hovered{
  border: 2px solid #6fddff;
  border-radius: 20px;
}